
@import './config';

body {

  main {

    .start {
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .top-blob {
        position: absolute;
        right: 0;
      }

      .bottom-blob {
        position: absolute;
        bottom: 0;
      }

      .content {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &__title {
          font-family: 'Karla';
          font-size: 3rem;
          color: $primary-clr-1;
        }

        &__text {
          color: $primary-clr-1;
          font-family: 'Inter';
          text-transform: capitalize;
          font-size: 1rem;
          margin-top: 1rem;
        }

        &__button {
          width: 150px;
          height: 50px;
          background-color: #4D5B9E;
          margin: 2rem auto;
          border-radius: 15px;
          border: none;
          font: bold 1.2rem 'Karla';
          color: white;

          &:focus {
            box-shadow: none;
          }

          &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }

      }
     
    }
    .quiz{
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .top-blob {
        position: absolute;
        right: 0;
      }

      .bottom-blob {
        position: absolute;
        bottom: 0;
      }
      .questions-container{
        width: 800px;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        padding-top: 1rem;

        .question{
          margin-top: .3rem;
          height: 100px;
          padding: .3rem;
          font-weight: bold;
          color: $primary-clr-1;
          border-bottom: solid 1px #DBDEF0;

          &_title{
            font: bold 1rem;
          }

          .answers-container{
            width: 100%;
            height: 20px;
            margin-top: 1.5rem;
            display: flex;
            align-items: center;

            .answer{
              padding: 7px 25px;
              border: 1px solid $primary-clr-2;
              border-radius: 14px;
              text-align: center;
              align-items: center;
              font: 500 15px 'Inter';
              margin-right: 1rem;
              cursor: pointer;
            }
          }
        }
        .check-answers{
          position: absolute;
          bottom: 35px;
          left: 50%;
          transform: translateX(-50%);
          width: 180px;
          height: 50px;
          background-color: #4D5B9E;
          border-radius: 15px;
          border: none;
          color: white;
          font: bold 1rem 'Karla';
          cursor: pointer;
          
          &:focus{
            box-shadow: none;
          }
          &:active{
            box-shadow: inset  4px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}