
@import './config';

body {

  main {

    .start {
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .top-blob {
        position: absolute;
        right: 0;
      }

      .bottom-blob {
        position: absolute;
        bottom: 0;
      }

      .content {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &__title {
          font-family: 'Karla';
          font-size: 3rem;
          color: $primary-clr-1;
        }

        &__text {
          color: $primary-clr-1;
          font-family: 'Inter';
          text-transform: capitalize;
          font-size: 1rem;
          margin-top: 1rem;
        }

        &__button {
          width: 150px;
          height: 50px;
          background-color: #4D5B9E;
          margin: 2rem auto;
          border-radius: 15px;
          border: none;
          font: bold 1.2rem 'Karla';
          color: white;

          &:focus {
            box-shadow: none;
          }

          &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }

      }
     
    }
    .quiz{
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .top-blob {
        position: absolute;
        right: 0;
      }

      .bottom-blob {
        position: absolute;
        bottom: 0;
      }
      .questions-container{
        width: 800px;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        padding-top: 1rem;

        .question{
          padding-bottom: .7rem;
          margin-top: .7rem;
          height: auto;
          font-weight: bold;
          color: $primary-clr-1;
          border-bottom: solid 1px #DBDEF0;

          &_title{
            font: bold 1rem;
          }

          .answers-container{
            width: 100%;
            height: auto;
            margin-top: 1rem;
            display: flex;
            align-items: center;

            .answer{
              padding: 7px 25px;
              border: 1px solid $primary-clr-2;
              border-radius: 14px;
              text-align: center;
              align-items: center;
              font: 500 15px 'Inter';
              margin-right: 1rem;
              cursor: pointer;

              &.held{
                border: none;
                background-color: $primary-clr-3;
              }
              &.correct{
                border: none;
                background-color : #94D7A2;
              }
              &.blur{
                border : solid 1px lightgray;
                color: lightgray;
              }
              &.incorrect{
                border: none;
                background-color : #F8BCBC;
              }
            }
          }
        }
        .check-answers{
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translateX(-50%);
          width: 180px;
          height: 50px;
          background-color: #4D5B9E;
          border-radius: 15px;
          border: none;
          color: white;
          font: bold 1rem 'Karla';
          cursor: pointer;
          
          &:focus{
            box-shadow: none;
          }
          &:active{
            box-shadow: inset  4px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}